@font-face{
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  src: url('../fonts/Monarch_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Formatting for company data section */
#company-gallery{
  background-color: #F3DFCB;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
  padding-right: 0;
  padding-bottom: 40px;
}
#company-logo{
  aspect-ratio: 1/1;
  width: 80px;
}

#summary-container, #terminology, #peers-container {
  place-items: center;
  width: 100%;
}

/* #summary-container, #terminology, #peers-container {
  
} */

#summary-container .card {
  width: 80em;
  text-align: center;
}

#terminology .card {
  width: 80em;
  text-align: justify;
}

#peers-container .card {
  width: 80em;
  text-align: center;
}

.search-container {
    position: relative;
}

.search-input {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

#fetch_data_button{
    height: 50px;
    width: 120px;
    border-radius: 30px;
    border: none;
    background-color: #B87432;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}