#link0 {
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}

#link0:hover {
    color: #8f5a26;
    cursor: pointer;
}
        
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;    
}