@font-face{
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  src: url('../fonts/Monarch_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#stonkly-info {
    background-color: #f5e4be;
}

#link0 {
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}

#link0:hover {
    color: #8f5a26;
    cursor: pointer;
}
        
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;    
}

/* Stonkly title */
#container {
  color:#999;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight:bold;
  padding-top:200px;  
  width:65%;
  bottom:45%;
  display:block;
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div {
  color:#ffffff;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div {
  background:#f6c052;
}

#flip div:first-child {
  background:#d85a5a;
}

#flip div:last-child {
  background:#42c58a;
}

@keyframes show {
  0%   { margin-top: -10px; }
  20%  { margin-top: -10px; }
  25%  { margin-top: -75px; }
  45%  { margin-top: -75px; }
  50%  { margin-top: -140px; }
  70%  { margin-top: -140px; }
  75%  { margin-top: -75px; }
  95%  { margin-top: -75px; }
  100% { margin-top: 0; }
}

/* Stonkly Info Section */
#block {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9em;
}

#stonkly-info {
  height: 50em;
  padding-top: 10px;
}

#infoBlock {
  background-color: #ffffff;
  width: 40%;
  height: 20em;
  border-radius: 30px;
  margin-right: 5em;
  text-align: center;
  padding-top: 7%;
  padding-right: 2em;
  padding-left: 2em;
}

#featureList {
  background-color: #ffffff;
  width: 40%;
  border-radius: 30px;
  text-align: center;
  padding-top: 8em;
}

#featureList ul {
  list-style-type: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}