

/* General Styles and Fonts*/
@font-face {
  font-family: 'StyreneA-Black';
  src: url('./fonts/styrene-font-family-1757969151-0/StyreneB-Regular-Trial-BF63f6cbe9db1d5.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'StyreneA-Bold';
  src: url('./fonts/styrene-font-family-1757969151-0/StyreneA-Bold-Trial-BF63f6cbda1877f.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BMDOHYEON_TTF';
  src: url('./fonts/BMDOHYEON_ttf.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Monarch_Bold';
  src: url('./fonts/Monark-Bold_FontYukle/Monark\ Bold.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: 'DM Serif Text', serif;
    src: url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
    font-weight: 400;
    font-style: normal;
}

/* Body */
body {
  margin: 0;
  background-color: #FFFFF9;
  line-height: 1.6;
}

header {
  background-image: linear-gradient(to right, #561119, #191864);
  width: 100%;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: em;
  font-style: normal;
  font-weight: 700;
  font-family: 'DM Serif Text', serif;
  position: fixed;
  margin-top: -238px;
}

header a {
  color:#2b7de7
}

header a:hover {
  color:#e25c3a
}

header ul {
  list-style: none;
  padding: 0;
}

#popup {
  display: none;
  position: absolute;
  background: rgb(230, 156, 66);
  color: white;
  height: auto;
  width: 600px;
  padding: 6px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  pointer-events: none; /* Ignore mouse so it doesn't flicker */
  z-index: 1000;
}

#articles {
  margin-top: 238px;
}

.article{
    margin: 20px;
    text-align: left;
    font-size: 1.3em;
}
.content{
    background-color: #b319420c;
}

.collapsible-article {
  background-color: #B31942;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  font-family: 'DM Serif Text', serif;
  color: white;
}

.collapsible-amendment {
  background-color: #0A3161;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  font-family: 'DM Serif Text', serif;
  color: white;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible-article:hover {
  background-color: #0A3161;
}
.active, .collapsible-amendment:hover {
  background-color: #B31942;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}